@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4"><a style="color:yellowgreen; font-weight:300">Food</a><a style="color: orangered;font-weight: 800">REV</a></h1>
    <p>A <a style="color: orangered;">revolution</a> in food taste.</p>
</div>
